<h1>Longest#score</h1>


<div class="answer">You score is: <%= @answer[:score] %> and you word is: <%= @answer[:message] %> and translates into <%= @answer[:translation] %>
</div>
<br>

<%= link_to "play again", game_path %>
